<div class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-light text-center">
            <h3>Cargando Procesos</h3>
            <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
            <div class="loader15">
                <span></span><span></span><span></span><span></span>
            </div>
            <!-- </div> -->
            <!--  </div> -->

            <!--  <span>Espere por favor</span> -->

        </div>
    </div>
</div>